<script lang="ts">
	import { CellShape, CellSide } from '$lib/maze/Cell';
	let { shape, active = false }: { shape: CellShape; active?: boolean } = $props();
</script>

<td
	class:bottom={shape & CellSide.BOTTOM}
	class:right={shape & CellSide.RIGHT}
	class:active
	on:click
></td>

<style>
	td.bottom {
		border-bottom: 3px black solid;
	}
	td.right {
		border-right: 3px black solid;
	}
	td {
		border: 3px transparent solid;
		transition: background 0.05s ease-out;
	}
	td.active {
		background: teal;
		animation: scale-in 0.3s forwards;
	}
	td.active:hover {
		background: green;
	}
	td:hover {
		background: khaki;
	}
	@keyframes scale-in {
		0% {
			opacity: 0;
			transform: scale(0.3);
		}
		50% {
			opacity: 1;
			transform: scale(1.04);
		}
		70% {
			transform: scale(0.92);
		}
		100% {
			transform: scale(1);
		}
	}
</style>
