<script lang="ts">
	import {
		CellShape,
		CellSide,
		packShapesToUint32Array,
		packShapesToUint8Array
	} from '$lib/maze/Cell';

	import Cell from './Cell.svelte';

	const { width = 10, height = 10 } = $props();

	type CellState = {
		active: boolean;
		borders: CellShape;
	};
	let cellsState: CellState[][] = $state(
		new Array(height).fill(1).map(() =>
			new Array(width).fill(1).map(() => ({
				active: false,
				borders:
					(Math.random() > 0.5 ? CellShape.BOTTOM : 0) | (Math.random() > 0.5 ? CellShape.RIGHT : 0)
			}))
		)
	);

	console.log(cellsState[0] === cellsState[1]);

	const triggerQueue: {
		cellCoordinates: { x: number; y: number };
		newState: boolean;
		cellState: CellState;
	}[] = [];

	setInterval(() => {
		if (triggerQueue.length > 0) {
			const first = triggerQueue.shift();
			if (!first) {
				return;
			}
			const { x, y } = first.cellCoordinates;
			triggerCell(x, y, first.newState);
		}
	}, 15);

	function triggerCell(x: number, y: number, state: boolean | undefined = undefined) {
		if (x < 0 || y < 0 || x >= width || y >= height) {
			return;
		}
		const cellState = cellsState[y][x];

		if (state === undefined) {
			state = !cellState.active;
		}

		cellState.active = state;

		// trigger neighors
		for (const delta of [
			{ x: -1, y: 0 },
			{ x: 0, y: 1 },
			{ x: 1, y: 0 },
			{ x: 0, y: -1 }
		]) {
			const newX = x + delta.x;
			const newY = y + delta.y;
			const neighbor = cellsState[newY][newX];
			if (newX < 0 || newY < 0 || newX >= width || newY >= height) {
				continue;
			}
			if (neighbor.active === state) {
				continue;
			}
			if (
				(delta.y > 0 && cellState.borders & CellSide.BOTTOM) ||
				(delta.x > 0 && cellState.borders & CellSide.RIGHT) ||
				(delta.y < 0 && neighbor.borders & CellSide.BOTTOM) ||
				(delta.x < 0 && neighbor.borders & CellSide.RIGHT)
			) {
				continue;
			}
			if (triggerQueue.some((el) => el.cellState === neighbor)) {
				continue;
			}

			triggerQueue.push({
				cellCoordinates: { x: newX, y: newY },
				newState: state,
				cellState: neighbor
			});
		}
	}

	const shapes = [2, 1, 2, 0, 2, 2, 1, 1, 3, 2, 0, 1, 2, 1, 3, 2, 1, 2, 0, 2, 1, 2, 3];
	const packed = packShapesToUint8Array(shapes);
	const packed2 = packShapesToUint32Array(shapes);
</script>

<h1>Maze works</h1>
W = {width} h = {height}

<hr />

{shapes}
{shapes.length}
<br />
{packed}

{#each packed as x}
	<p>
		{x.toString(4).padEnd(4, '0')}
	</p>
{/each}
<br />
{packed2}

{#each packed2 as x}
	<p>
		{x.toString(4).padEnd(16, '0').split('').join(' ')}
	</p>
{/each}

<hr />
{#each packed2 as x}
	<p>
		{#each new Array(16).fill(1).map((_, i) => 30 - 2 * i) as pos}
			{CellShape[(x >> pos) & 3]}|
		{/each}
	</p>
{/each}
<br />
{#each packed2 as x}
	<p>
		{#each new Array(16).fill(1).map((_, i) => 30 - 2 * i) as pos}
			{Boolean((x >> pos) & CellSide.BOTTOM) ? 'bottom' : ''}
			{Boolean((x >> pos) & CellSide.RIGHT) ? 'right' : ''} |
		{/each}
	</p>
{/each}

<table>
	<tbody>
		{#each cellsState as row, y}
			<tr>
				{#each row as cell, x}
					<Cell on:click={() => triggerCell(x, y)} active={cell.active} shape={cell.borders} />
				{/each}
			</tr>
		{/each}
	</tbody>
</table>

<style>
	table {
		border: 2px black solid;
	}
	:global(table tr td) {
		width: 2em;
		height: 2em;
		text-align: center;
		vertical-align: middle;
	}
</style>
